.menu-bar {
    display: flex;
    background-color: var(--bg-secondary);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    height: fit-content;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border-radius: 50px;
    margin: 0;
}

.selected-option {
    background-color: var(--text-primary);
    color: var(--text-secondary);
    width: fit-content;
    height: fit-content;
    border-radius: 50px;
    padding-block: 1rem;
    padding-inline: 1rem;
    cursor: pointer;
}

.menu-bar a {
    transition: all 0.3s ease;
    cursor: pointer;
}

.icon {
    display: block;
}

.label {
    display: none;
}

@media (min-width: 768px) {
    .icon {
        display: none;
    }

    .label {
        display: inline;
    }

    .menu-bar {
        gap: 3rem;
        padding-inline: 3rem;
        margin-left: 8rem;
    }
}