.menu-bar {
    display: flex;
    background-color: var(--bg-secondary);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    width: fit-content;
    height: fit-content;
    padding-inline: 2rem;
    padding-block: 0.5rem;
    border-radius: 50px;
    margin: 0;
}

.selected-option {
    background-color: var(--text-primary);
    color: var(--text-secondary);
    width: fit-content;
    height: fit-content;
    border-radius: 50px;
    padding-block: 1rem;
    padding-inline: 2rem;
    cursor: pointer;
}

.menu-bar a {
    transition: all 0.3s ease;
    cursor: pointer;
}