.hero-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.resume-button {
    padding-inline: 1rem;
}

.menu-bar-section{
    margin-left: 2rem;
}