.hero-footer-section {
  display: flex;
  flex-direction: column; 
  gap: 24px;
  width: 100%;
  align-items: center;
}


.social {
  display: none;
}

.in-a-hurry {
  display: none; 
}

.in-a-hurry-text{
  font-size: 12px;
  color: var(--text-secondary);
}

.menu-bar-section {
  width: 100%;
  display: flex;
  justify-content: center; 
}

@media (min-width: 768px) {
  .hero-footer-section {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .social {
    display: flex;
    gap: 1.5rem;
    width: auto;
  }

  .menu-bar-section {
    width: auto;
    gap: 1.5rem; 
    justify-content: center;
  }

  .in-a-hurry {
    display: flex;
    flex-direction: column;
  }
}