
.home-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h4, h1, h2 {
    color: var(--text-primary);
}

h1 {
    font-size: 58px;
}

h2,h3,h4 {
    font-size: 12px;
}

.hero-secondary-text {
    color: var(--text-secondary);
}

.hero-greeting {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.social{
    color: var(--text-secondary);
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.hero-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    width: 100%;
}

.in-a-hurry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resume-button {
 border-radius: 50px;
 background-color: var(--text-primary); 
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 gap: 0.5rem;  
 color: var(--text-secondary);
 padding: 8px;
 font-size: 12px;
 cursor: pointer;
}