html,
body,
#root {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Epilogue', sans-serif;

}

:root {
  --bg-primary: #28293E;
  --text-primary: #EF6D58;
  --text-secondary: #FBFBFF;
  --bg-secondary: #FBFBFF;
}


body {
  background-color: var(--bg-primary);
}

header {
  display: none;
}